
/* Full screen - For higher resolutions - Starts */
/* @media (min-width: 1600px) {
    .container {
        width: 100%;
        max-width: 1500px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 100%;
        max-width: 1700px;
    }
} */
/* Full screen - For higher resolutions - ends */

